<link rel="stylesheet" href="/css/style.css">

<footer id="footer">
  <div class="container">
    <!-- Newsletter Sign-Up -->
    <div class="col-md-4 col-sm-6">
      <h4>Keep Me Updated</h4>
      <h5>Join Our Newsletter</h5>
      <form action="https://example.com/subscribe" method="post">
        <div class="form-group">
          <label for="email">Enter your email:</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Your email address"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
      <hr class="hidden-md hidden-lg hidden-sm" />
    </div>
    <!-- /.col-md-4 -->

<!-- Hosts Section -->
<div class="col-md-4 col-sm-6">
  <h4>Hosted By</h4>
  <div class="hosts-container">
    <!-- Host 1 -->
    <div class="logo-container">
      <a href="https://galaxyproject.org/" target="_blank">
        <img
          src="img/host_organizations/galaxy_logo_white.png"
          alt="Galaxy Project"
          class="logo-image"
        />
      </a>
    </div>
    <!-- Host 2 -->
    <div class="logo-container">
      <a href="https://www.bioconductor.org/" target="_blank">
        <img
          src="img/host_organizations/BioconductorSticker.png"
          alt="Bioconductor"
          class="logo-image"
        />
      </a>
    </div>
  </div>
</div>
<!-- /.col-md-4 -->


    <!-- Contact Information -->
    <div class="col-md-4 col-sm-6">
      <h4>Contact Information</h4>
      <p>
        GBCC2025 Secretariat<br />
        Partner | Galaxy-Bioconductor Collaboration<br />
        123 Science Lane, Genomics City, GC 12345<br />
        Phone: +1-234-567-8900<br />
        Email: <a href="mailto:info@gbcc2025.org">info@gbcc2025.org</a><br />
        Website: <a href="https://gbcc2025.org">www.gbcc2025.org</a>
      </p>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.container -->
</footer>
<!-- /#footer -->


<!-- *** FOOTER END *** -->
