<link rel="stylesheet" href="/css/navbar.css"> <!-- Your existing CSS -->

<div class="top-bar">
  <!-- Logo Section -->
  <div class="logo-section">
    <a href="{{ "/" | relURL }}" class="logo-holder">
      <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo" class="navbar-logo">
    </a>
  </div>
    
  <!-- Social Media and Navbar Container -->
  <div class="nav-container">
    <!-- Desktop Social Media Icons -->
    <div class="social-bar">
      <ul>
        <li>
          <a href="/socials#github" target="_blank">
            {{ "<i class='fab fa-github'></i>" | safeHTML }}
          </a>
        </li>
        <li>
          <a href="/socials#linkedin" target="_blank">
            {{ "<i class='fab fa-linkedin'></i>" | safeHTML }}
          </a>
        </li>
        <li>
          <a href="/socials#bluesky" target="_blank">
            {{ "<i class='fa-brands fa-bluesky'></i>" | safeHTML }}
          </a>
        </li>
        <li>
          <a href="/socials#mastodon" target="_blank">
            {{ "<i class='fab fa-mastodon'></i>" | safeHTML }}
          </a>
        </li>
          <a href="mailto:workshop@bioconductor.org">
            {{ "<i class='fas fa-envelope'></i>" | safeHTML }}
          </a>
        </li>
        <li>
          <a href="https://slack.bioconductor.org/" target="_blank">
            {{ "<i class='fab fa-slack'></i>" | safeHTML }}
          </a>
        </li>
      </ul>
    </div>

    <!-- Custom Navbar -->
    <header class="custom-navbar">
      <!-- Mobile Menu Toggle Button -->
      <button id="menu-toggle" class="menu-toggle">&#9776;</button>
      <nav class="nav-links" id="nav-menu">
        <ul>
          {{ range .Site.Menus.main }}
            {{ if not .Parent }}
              <li class="nav-item has-dropdown" data-dropdown="{{ .Identifier }}">
                <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </nav>
      <nav class="mobile-nav-links" id="mobile-nav-menu">
        <ul id="mobile-navigation">
          {{ range .Site.Menus.main }}
            {{ if not .Parent }}
              <li class="mobile-nav-item has-dropdown" data-dropdown="{{ .Identifier }}">
                <a href="{{ .URL }}" class="mobile-nav-link">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
        <!-- Mobile Social Icons (displayed only in mobile overlay) -->
        <div class="mobile-social">
          <a href="https://github.com/Bioconductor/" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/Bioconductor" target="_blank">
            <i class="fab fa-2x fa-twitter"></i>
          </a>
          <a href="mailto:workshop@bioconductor.org">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://slack.bioconductor.org/" target="_blank">
            <i class="fab fa-slack"></i>
          </a>
        </div>
      </nav>
    </header>
  </div>
</div>

<div class="dropdown-container">
  <div class="dropdown-logo"></div>
  <div class="dropdown" id="dropdown-content"></div>
</div>

<script src="/js/navbar.js"></script>
