<link rel="stylesheet" href="/css/navbar.css"> <!-- New custom CSS -->

<div class="top-bar">
  <!-- Logo Section -->
  <div class="logo-section">
    <a href="{{ "/" | relURL }}" class="logo-holder">
      <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo" class="navbar-logo">
    </a>
  </div>

  <!-- Social Media and Navbar Container -->
  <div class="nav-container">
    <!-- Social Media Icons -->
    <div class="social-bar">
      <ul>
        <li><a href="https://github.com/Bioconductor/" target="_blank">{{
          "<i class='fab fa-github'></i>" | safeHTML }}</a></li>
        <li><a href="https://twitter.com/Bioconductor" target="_blank">{{
          "<i class='fab fa-2x fa-twitter'></i>" | safeHTML }}</a></li>
        <li><a href="mailto:workshop@bioconductor.org">{{
          "<i class='fas fa-envelope'></i>" | safeHTML }}</a></li>
        <li><a href="https://slack.bioconductor.org/" target="_blank">{{
          "<i class='fab fa-slack'></i>" | safeHTML }}</a></li>
      </ul>
    </div>

    <!-- Custom Navbar -->
    <header class="custom-navbar">
      <nav class="nav-links" id="nav-menu">
        <ul>
          {{ range .Site.Menus.main }}
            {{ if not .Parent }}
              <li class="nav-item has-dropdown" data-dropdown="{{ .Identifier }}">
                <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </nav>
    </header>
  </div>
</div>

<!-- ✅ Dropdown Container (Separate from Navbar) -->
<div class="dropdown-container">
  <div class="dropdown-logo"></div>
  <div class="dropdown" id="dropdown-content"></div>
</div>


<!-- Custom JavaScript -->
<script src="/js/navbar.js"></script>
