<link rel="stylesheet" href="{{ "/css/countdown.css" | relURL }}">

<section class="countdown-section">
    <div class="custom-counter">
        <div class="wrapper">
            <h2><b>Get Ready for the Next GBCC</b></h2>
            <h3>June 23 (Mon.) - 26 (Thur.), 2025</h3>
            <ul class="countdown-timer" id="countdown">
                <li><span id="days">0</span> DAYS</li>
                <li><span id="hours">0</span> HOURS</li>
                <li><span id="minutes">0</span> MINUTES</li>
                <li><span id="seconds">0</span> SECONDS</li>
            </ul>
        </div>
    </div>
</section>


  