<link rel="stylesheet" href="{{ "/css/home-panels.css" | relURL }}">

<section class="bulletin_board">
    <div class="notice_container bulletin_container">
        <div class="bulletin_title_wrap">
            <div class="bulletin_title">Latest News</div>
        </div>
        <ul>
            <li>
                <a href="#">New Keynote Speaker Announced</a>
            </li>
            <li>
                <a href="#">Call for Papers Extended</a>
            </li>
            <li>
                <a href="#">Early Bird Registration Now Open</a>
            </li>
        </ul>
    </div>
    <div class="key_dates_container bulletin_container">
        <div class="bulletin_title_wrap">
            <div class="bulletin_title">Key Dates</div>
        </div>
        <ul>
            <li>
                <div class="key_date_down">
                    <div>January, 2025</div>
                    <div>Abstract Submission Opens</div>
                </div>
                <div class="key_date_logo">
                    <img src="img\carousel\winner-Marie.Josse.png" alt="Calendar Icon">
                </div>
            </li>
            <li>
                <div class="key_date_down">
                    <div>April 01 (Tues.), 2025</div>
                    <div>Abstract Submission Deadline</div>
                </div>
                <div class="key_date_logo">
                    <img src="img\carousel\winner-Marie.Josse.png" alt="Calendar Icon">
                </div>
            </li>
            <li>
                <div class="key_date_down">
                    <div>June 15 (Sun.), 2025</div>
                    <div>Registration Closes</div>
                </div>
                <div class="key_date_logo">
                    <img src="img\carousel\winner-Marie.Josse.png" alt="Calendar Icon">
                </div>
            </li>
        </ul>
    </div>
    <div class="quick_links_container bulletin_container">
        <div class="bulletin_title_wrap">
            <div class="bulletin_title">Quick Links</div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <div class="quick_link_image">
                        <img src="img/logo.png" alt="Calendar Icon">
                    </div>
                    <div>Registration Guidelines</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="quick_link_image">
                        <img src="img/logo.png" alt="Calendar Icon">
                    </div>
                    <div>Program at a Glance</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="quick_link_image">
                        <img src="img/logo.png" alt="Calendar Icon">
                    </div>
                    <div>Cold Spring Harbor</div>
                </a>
            </li>
        </ul>
    </div>
</section>

