<link rel="stylesheet" href="{{ "/css/home-panels.css" | relURL }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<section class="bulletin_board">
    <div class="notice_container bulletin_container">
        <div class="bulletin_title_wrap">
            <div class="bulletin_title">Latest News</div>
        </div>
        <ul>
            <li>
                <a href="https://www.linkedin.com/posts/bioconductor_gbcc2025-logocontest-activity-7290808172653477888-WSJs">GBCC2025 Logo Design Winner Announced</a>
            </li>
            <li>
                <a href="https://blog.bioconductor.org/posts/2024-09-03-gbcc2025-announcement">GBCC2025: First Galaxy & Bioconductor Conference Announced</a>
            </li>
        </ul>
    </div>
    <div class="key_dates_container bulletin_container">
        <div class="bulletin_title_wrap">
            <div class="bulletin_title">Key Dates</div>
        </div>
        <ul>
            <li>
                <div class="key_date_down">
                    <div>Feb. 11 (Tue.), 2025</div>
                    <div>Abstract Submission Opens</div>
                </div>
                <div class="key_date_logo">
                    <img src="img\abstract_open.svg" alt="Abstract Opening">
                </div>
            </li>
            <li>
                <div class="key_date_down">
                    <div>Apr. 01 (Tue.), 2025</div>
                    <div>Abstract Submission Deadline</div>
                </div>
                <div class="key_date_logo">
                    <img src="img\abstract_close.svg" alt="Abstract Closing">
                </div>
            </li>
            <li>
                <div class="key_date_down">
                    <div>Jun. 15 (Sun.), 2025</div>
                    <div>Registration Closes</div>
                </div>
                <div class="key_date_logo">
                    <img src="img\registration_close.svg" alt="Registration Closing">
                </div>
            </li>
        </ul>
    </div>
    <div class="quick_links_container bulletin_container">
        <div class="bulletin_title_wrap">
            <div class="bulletin_title">Quick Links</div>
        </div>
        <ul>
            <li>
                <a href="{{ "registration/conference/" | relURL }}">
                    <div class="quick_link_image">
                        <i class="fas fa-user-edit"></i>
                    </div>
                    <div>Registration Information</div>
                </a>
            </li> 
            <li>
                <a href="{{ "program/glance/" | relURL }}">
                    <div class="quick_link_image">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div>Program at a Glance</div>
                </a>
            </li>
            <li>
                <a href="{{ "about/venue/" | relURL }}">
                    <div class="quick_link_image">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div>Cold Spring Harbor</div>
                </a>
            </li> 
        </ul>
    </div>
</section>

