<div class="container">
    <div class="row">
        <center>
        <!-- <h3><a href="registration" target="_blank"> Registration for the BioC2022 conference is now open! </a></h3> -->
        <h2> Galaxy Bioconductor Community Conference (GBCC)</h2>
        <p class="text-large mb-small">
            Cold Spring Harbor Laboratory (CSHL), NY <br />
            June 23-26, 2025
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th style="width: 30%"><h4>Mark your calendar</h4></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><b>January 2025</b>:Registration opens</li>
                        <li><b>January 2025</b>:Call for abstracts opens</li>
                        <li><b>March 2025</b>: Call for talks closes</li>
                        <li><b>April 29, 2022</b>: Talk abstract decisions</li>
                        <li><b>May 2025</b>: Call for posters closes</li>
                        <li><b>June 23, 2025</b>: GBCC2025 starts</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <p>
                        <b>GBCC is the flagship annual community conference for the
                        Galaxy and Bioconductor projects.</b> It brings together
                        scientists, software developers, and trainers from a
                        variety of disciplines to share their experiences,
                        knowledge, and skills.
                    </p>
                    <p>
                        The conference will feature keynotes, invited talks,
                        posters, trainings, and Birds of a Feather sessions. The
                        conference will be held in a beautiful setting at the
                        Cold Spring Harbor Laboratory (CSHL) in New York.
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" style="padding-top: 40px">
        <center>
            <p>
                Click <a href="information" target="_blank">here</a> to find out more info about the venue
            </p>
        </center>
    </div>
    <div class="row" style="padding-top: 40px">
        <center>
            <p>
                Stay tuned for more information on registration,
                abstract submission, and program details. If you'd like
                to be notified as we get closer to the conference,
                please sign up for the conference-specific mailing list:
                <div class="text-center">
                    <form method="post"
                    action="https://gaggle.email/join/gbcc2025-announce@gaggle.email">
                        <div style="padding: 10px 0">
                        <span>
                                <input name="name" type="text"
                                placeholder="Your full name">
                            </span>
                            <span style="padding: 10px 0">
                                <input name="email" type="email"
                                placeholder="Email address">
                            </span>
                        </div>
                        <div>
                            <button>Join GBCC2025 mailing list</button>
                        </div>
                    </form>
                </div>
            </p>
        </center>
    </div>
</div>
</div>
